body{
	background-color:#45718c;
}
.container > ul{
	background-color:#2d4761;
	list-style-type:none;
	min-height:43px;	
	float:left;
	border-radius:5px;
}
.container ul  li{
	float : left;
	border-right: 1px solid #445356;
	position    : relative;
}
.container .menu li:last-child {
	border-right:none;
}
.container > ul a{
	text-decoration: none;
	display: block;
	color  : #ffffca;
	padding: 13px 15px 11px 15px;
	text-align: right;
	font-family    : 'bmitra' , Arial;
	font-size : 16px;
	text-transform:capitalize;
}
.container ul > li:hover > a{
	border-radius:6px;
	background-color:#213650;
	-webkit-transition: background-color 800ms;
	-moz-transition: background-color 800ms;
	-ms-transition: background-color 800ms;
	-o-transition: background-color 800ms;
	transition: background-color 800ms;
}
.container .menu .sub{
	list-style-type: none;
	position       : absolute;
	top    : 43px;
	z-index: 2;
	display:none;
	width  : auto;
	border-top:2px solid transparent;
}
.container .menu li:hover .sub{
	display:block;
	background-color:#1d3751;
	border-radius   : 5px;
}
.container .menu li:hover .sub a{
	border-radius   : 5px;
	white-space: nowrap;
	margin-top:3px;
	padding: 10px 18px ;
	-webkit-transition: background-color 1000ms;
	-moz-transition: background-color 1000ms;
	-o-transition: background-color 1000ms;
	-ms-transition: background-color 1000ms;
	transition: background-color 1000ms;
}
.container .menu li:hover .sub a:hover{
	background-color:#7186a0;
	color:#ffd;
	float:left;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	-ms-transition: background-color 600ms;
	transition: background-color 600ms;
}
.container .menu li:hover .sub li{
	border-right:none;	
}