*{
	padding:0;
	margin:0;
}
body{
	background-color:#45718c;
}
.container > ul{
	background-color:#2d4761;
	list-style-type:none;
	min-height:43px;	
	float:left;
	border-radius:5px;
	max-height: 0;
	-webkit-transition: max-height 1ms linear 1s;
	-moz-transition: max-height 1ms linear 1s;
}
.container ul  li{
	float : left;
	border-right: 1px solid #445356;
	position    : relative;
	display: inline-block;
}
.container .menu li:last-child {
	border-right:none;
}
.container > ul a{
	text-decoration: none;
	display: block;
	color  : #ffffca;
	padding: 13px 15px 11px 15px;
	text-align: left;
	font-family    : 'bmitra' , Arial;
	font-size : 16px;
	text-transform:capitalize;
}
.container ul > li:hover > a{
	border-radius:6px;
	background-color:#213650;
	-webkit-transition: background-color 800ms;
	-moz-transition: background-color 800ms;
	-ms-transition: background-color 800ms;
	-o-transition: background-color 800ms;
	transition: background-color 800ms;
}
.container .menu .sub{
	list-style-type: none;
	position       : absolute;
	top    : 41px;
	z-index: 2;
	display:none;
	width  : 160px;
	border-top:2px solid transparent;
  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}
.container .menu li:hover .sub{
	display:block;
	background-color:#1d3751;
	border-radius   : 4px;
	max-height: 2000px;
	 -webkit-transition: none;
     -moz-transition: none;
}
.container .menu li:hover .sub a{
	border-radius   : 5px;
	white-space: nowrap;
	margin-top:3px;
	padding: 10px 72px 8px 15px ;
	margin-left:3px;
	-webkit-transition: background-color 1000ms;
	-moz-transition: background-color 1000ms;
	-o-transition: background-color 1000ms;
	-ms-transition: background-color 1000ms;
	transition: background-color 1000ms;
}
.container .menu li:hover .sub a:hover{
	background-color:#7186a0;
	color:#ffd;
	float:left;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	-ms-transition: background-color 600ms;
	transition: background-color 600ms;
}
.container .menu li .sub li{
  opacity: 0;
  -webkit-transition: opacity .4s, -webkit-transform .6s, max-height .6s;
     -moz-transition: opacity .4s,    -moz-transform .6s, max-height .6s;
      -ms-transition: opacity .4s,     -ms-transform .6s, max-height .6s;
       -o-transition: opacity .4s,      -o-transform .6s, max-height .6s;
          transition: opacity .4s,         transform .6s, max-height .6s;
	 -webkit-transform: rotateX( -180deg );
     -moz-transform: rotateX( -180deg );
      -ms-transform: rotateX( -180deg );
       -o-transform: rotateX( -180deg );
          transform: rotateX( -180deg );
}
.container .menu li:hover .sub li{
	border-right:none;	
	opacity: 1;
	  -webkit-transition: opacity .4s, max-height .6s;
     -moz-transition: opacity .4s, max-height .6s;
      -ms-transition: opacity .4s, max-height .6s;
       -o-transition: opacity .4s,  max-height .6s;
          transition: opacity .4s,    max-height .6s;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}


.menu li:hover .sub li:nth-child(1) {
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.menu li:hover .sub li:nth-child(2) {
  -webkit-transition-delay: 66ms;
     -moz-transition-delay: 66ms;
      -ms-transition-delay: 66ms;
       -o-transition-delay: 66ms;
          transition-delay: 66ms;
}

.menu li:hover .sub li:nth-child(3) {
  -webkit-transition-delay: 133ms;
     -moz-transition-delay: 133ms;
      -ms-transition-delay: 133ms;
       -o-transition-delay: 133ms;
          transition-delay: 133ms;
}

.menu li:hover .sub li:nth-child(4) {
  -webkit-transition-delay: 200ms;
     -moz-transition-delay: 200ms;
      -ms-transition-delay: 200ms;
       -o-transition-delay: 200ms;
          transition-delay: 200ms;
}

.menu > li:hover .sub li:nth-child(5) {
  -webkit-transition-delay: 266ms;
     -moz-transition-delay: 266ms;
      -ms-transition-delay: 266ms;
       -o-transition-delay: 266ms;
          transition-delay: 266ms;
}

.menu > li:hover .sub li:nth-child(6) {
  -webkit-transition-delay: 333ms;
     -moz-transition-delay: 333ms;
      -ms-transition-delay: 333ms;
       -o-transition-delay: 333ms;
          transition-delay: 333ms;
}

.menu > li:hover .sub li:nth-child(7) {
  -webkit-transition-delay: 400ms;
     -moz-transition-delay: 400ms;
      -ms-transition-delay: 400ms;
       -o-transition-delay: 400ms;
          transition-delay: 400ms;
}

.menu > li:hover .sub li:nth-child(8) {
  -webkit-transition-delay: 466ms;
     -moz-transition-delay: 466ms;
      -ms-transition-delay: 466ms;
       -o-transition-delay: 466ms;
          transition-delay: 466ms;
}

