body{
	background-color:#45718c;
}
.container > ul{
	background-color:#2d4761;
	list-style-type:none;
	min-height:45px;	
	float:left;
	border-radius:5px;
}
.container > ul  li{
	float : left;
	border-right: 1px solid #445356;
	position    : relative;
}
.container ul li:last-child {
	padding-right:45px;
	border-right:none;
}
.container > ul a{
	text-decoration: none;
	display: block;
	color  : #ffffca;
	padding: 12px 8px 12px 15px;
	text-align: right;
	font-family    : 'bmitra' , Arial;
	font-size : 16px;
	text-transform:capitalize;
}
.container ul > li:hover > a{
	border-radius:6px;
	background-color:#213650;
	-webkit-transition: background-color 800ms;
	-moz-transition: background-color 800ms;
	-ms-transition: background-color 800ms;
	-o-transition: background-color 800ms;
	transition: background-color 800ms;
}
.container > ul > ul{
	list-style-type: none;
	position:absolute;
	top    : 46px;
	right  : 0;
	z-index: 2;
	display:none;
	width  : 160px;	
}
.container .menu > li:hover > a > span{
	display:block;
	background-color: #425961;
	border-radius   : 3px;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	-ms-transition: background-color 600ms;
	transition: background-color 600ms;
}
